$brand-primary: #0288d1;
$brand-secondary: #546e7a;




$app-height: calc(100vh - 60px);
$app-width: 100%;


.activator {
  cursor: pointer;
}

$breakpoint-xs: 600px;
$breakpoint-sm: 960px;
$breakpoint-md: 1264px;


//animations


.scale-enter-active{
  transition: all 500ms ease-out;
}

.scale-enter
{
  opacity: 0;
  transform: scale(0);
}

.scale-enter-to {
  opacity: 1;
  transform: scale(1);
}
